h3{
    font-size: 25px !important;
}
#button:hover{
    background-color: green;
}
canvas{
animation-name: Shift;
animation-duration: 4s;
animation-iteration-count: infinite;
}
@keyframes Shift{
    from{box-shadow: 1px 1px 38px red;}
    to{box-shadow: 1px 1px 38px green;}
}